* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "sans-serif";
}

header h1 {
  /* h1預設大px和bold，這邊設定更大的px蓋過原本的px，但保留bold */
  font-size: 40px;
  color: white;
  background-color: black;
  padding: 40px;
  text-align: center;
}

body div#main {
  padding: 40px;

  .form-group-upper {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }

  .form-group {
    font-size: 30px;
    text-align: center;
    margin: 10px;

    &:nth-child(4) {
      margin: 25px;
      //   將同意條款這個div的margin變成20px，但它應該是第三個div.form-group，不懂為何設在第4個上才有作用？
    }

    .form-control {
      border: 1.25px solid black;
      border-radius: 5%;
      width: 20%;
      height: 30px;
    }
  }

  .sign-in-button {
    font-size: 20px;
    padding: 5px 10px;
  }
}

.msg {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.signout {
  text-align: center;
  font-size: 30px;
}
